{% extends 'home.html' %}

{% block title %}
<title>Admin Home | DeltaFit</title>
{% endblock %}

{% block content %}
    {% load static %}
    {% load media %}

    <div id="container">
        <div id="navbar">
            <ul>
                <a style="width: 220px; background: url({% static 'deltafit_full.png' %})" href="{% url 'welcome_admin' %}">
                    <input style="align-content: center; font-stretch: ultra-expanded; font-size: 40px" type="button" class="logo_button"/>
                </a>
                <li style="float: right;"><a href="{% url 'logout' %}">
                    <input type="button" class="std_button" value="Logout"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'all_events' %}">
                    <input type="button" class="std_button" value="Events"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'all_members' %}">
                    <input type="button" class="std_button" value="Members"/>
                </a></li>
            </ul>
        </div>

        <div id=event_details>
            <div style="padding-top: 75px;" id="event_picture">
                <img style="width: 100vw; height:75px;" src="/FitApp/media/{{ event.File_Path }}" alt="Event Picture">
            </div>
            <div id="event_details_extended">
                <h1 align="center">{{ event.Title }} | {{ event.Category }}</h1>
                <div id="thin_line"></div>
                <h3 align="left">{{ event.Location }}</h3>
                <p align="left">{{ event.Short_Description }}</p>
                <p align="left">
                    {{ event.Start_Date }} to {{ event.End_Date }} <br>
                    Deadline - {{ event.Registration_Deadline }} <br>
                    {% if event.Registration_Open %}
                        <b>Open for Registration!</b>
{#                        <a href="{% url 'confirm_event' %}">#}
{#                            <input type="button" class="table_button" value="Confirm"/>#}
{#                        </a>#}
                    {% else %}
                        <b>Closed for Registration!</b>
                    {% endif %}
                </p>
                <p style="float: left;"><a href="{% url 'edit_event' %}">
                    <input type="button" class="std_button" value="Logout"/>
                    </a>
                </p>
                <p align="left">
                    {{ event.Event_Details }}
                </p>
                {% for comment in comments %}
                    <div id="one_comment">
                        <p>
                            {{ comment }}
                        </p>
                        <div id="thin_line"></div>
                    </div>
                {% endfor %}
                <div id="comment_thread">
                    <h3>Something to say?</h3>
                    <h3 align="center" style="color: red;">{{ custom_message }}</h3>
                    <form method='POST'> {% csrf_token %}
                        <button type="submit" class="table_button">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}