<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'base.css' %}>

    <link rel="shortcut icon" href="{% static 'deltafit_logo.png' %}" type="image/x-icon">

    {% block title %}
        <title>Home | DeltaFit</title>
    {% endblock %}
</head>

<body>
{% block content %}
    <div id="container">
        <div id="navbar">
            <ul>
                <a style="width: 220px; background: url({% static 'deltafit_full.png' %})" href="{% url 'index' %}">
                    <input style="align-content: center; font-stretch: ultra-expanded; font-size: 40px" type="button" class="logo_button"/>
                </a>
                <li style="float: right;"><a href="{% url 'login' %}">
                    <input type="button" class="std_button" value="Login"/>
                </a></li>
                <li style="float: right;"><a href="#contact">
                    <input type="button" class="std_button" value="Contact Us"/>
                </a></li>
                <li style="float: right;"><a href="#team">
                    <input type="button" class="std_button" value="Team"/>
                </a></li>
                <li style="float: right;"><a href="#signup">
                    <input type="button" class="std_button" value="Signup"/>
                </a></li>
                <li style="float: right;"><a href="#about">
                    <input type="button" class="std_button" value="About"/>
                </a></li>
            </ul>
        </div>

        <div id="about">
            <h1 style="text-align: center;">Welcome to DeltaFit - your community's physical activity hub!</h1>
            <div id="thin_line"></div>
            <p>
                <b style="font-weight: bolder; text-decoration: underline">Who Are We?:</b> DeltaFit is a platform created to encourage local community members to live healthier lifestyles.
            </p>
            <p>
                <b style="font-weight: bolder; text-decoration: underline">How Does It Work?:</b> Through the website, users may create or join events based on their preferences, such as cardio, sports, yoga, weightlifting,
                etc. With data collected from the users Fitbit, DeltaFit allows members to see their own progress as well as the
                collective community progress.
            </p>
            <p>
                <b style="font-weight: bolder; text-decoration: underline">Our Mission:</b> Our mission at DeltaFit is to promote a healthy lifestyle through community engagement.
                We value cooperation and encourage our users to participate in various physical activities that will benefit them.
            </p>
            <p>
                <b style="font-weight: bolder; text-decoration: underline">Points Incentive:</b> We collect various data from your FitBit and put it all together into an immersive platform
                that helps you set and reach goals. Through this data, you gain points and see your own progress. You can see your
                progress through your statistics as well as through how many points you've collected. As you participate in more events,
                host events, hit your daily step count goals, heart rate goals, and more, our site will give you points to incentivize
                you to continue persevering on your journey to a healthier lifestyle.
            </p>
            <p>
                <b style="font-weight: bolder; text-decoration: underline">Become a Community Mod:</b> Looking for an opportunity to help your community? Why not assist us with your laptop
                by becoming your local community mod! Your job would be to make sure all the events created are appropriate,
                prevent spam events, and oversee community progress!
            </p>
        </div>

        <div id="signup">
            <h1 style="text-align: center;">Join DeltaFit Today!</h1>
            <div id="thin_line"></div>
            <div id="member_space">
                <h3>Join a community!</h3>
                <p>Are you looking to join your community's DeltaFit cohort? Click the link below to sign up!</p>
                <a href={% url 'new_member_signup' %}>
                    <input type="button" class="std_button" value="New Members"/>
                </a>
            </div>

            <div id="admin_space">
                <h3>Make a community!</h3>
                 <p>Couldn't find your community on our listings? Apply to be the head of your own community today!</p>
                <a href={% url 'new_community_signup' %}>
                    <input type="button" class="std_button" value="New Community"/>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

</body>
</html>