{% extends 'home.html' %}

{% block title %}
    <title>Logout | DeltaFit</title>
{% endblock %}

{% block content %}
    {% load static %}
    <div id="container">

        <div id="navbar">
            <ul>
                <a style="width: 220px; background: url({% static 'deltafit_full.png' %})" href="{% url 'index' %}">
                    <input style="align-content: center; font-stretch: ultra-expanded; font-size: 40px" type="button" class="logo_button"/>
                </a>
                <li style="float: right;"><a href="{% url 'login' %}">
                    <input type="button" class="std_button" value="Login"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'index' %}">
                    <input type="button" class="std_button" value="Contact Us"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'index' %}">
                    <input type="button" class="std_button" value="Team"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'index' %}">
                    <input type="button" class="std_button" value="Signup"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'index' %}">
                    <input type="button" class="std_button" value="About"/>
                </a></li>
            </ul>
        </div>

{#        extending login template to save time and code #}
        <div id="login_screen">
            <h1 align="center">Hope you come back soon!</h1>
            <div id="thin_line"></div>
            <a href="{% url 'index' %}">
                <input type="button" class="std_button" value="Back to Home"/>
            </a>
        </div>

    </div>

{% endblock %}