{% extends 'home.html' %}

{% block title %}
<title>Member Home | DeltaFit</title>
{% endblock %}

{% block content %}
    {% load static %}

    <div id="container">
        <div id="navbar">
            <ul>
                <a style="width: 220px; background: url({% static 'deltafit_full.png' %})" href="{% url 'welcome_member' %}">
                    <input style="align-content: center; font-stretch: ultra-expanded; font-size: 40px" type="button" class="logo_button"/>
                </a>
                <li style="float: right;"><a href="{% url 'logout' %}">
                    <input type="button" class="std_button" value="Logout"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'my_events' %}">
                    <input type="button" class="std_button" value="My Events"/>
                </a></li>
                <li style="float: right;"><a href="{% url 'view_profile' %}">
                    <input type="button" class="std_button" value="My Profile"/>
                </a></li>
            </ul>
        </div>

        <div id="event_screen">
            <div id="first_row_category">
                <div id="event_tile">
                    <a href="{% url 'all_events' 1%}">
                        <input type="button" style="background: url({% static 'aerobics.jpg' %});" class="tile_button"/>
                    </a>
                </div>

                <div id="event_tile">
                    <a href="{% url 'all_events' 2%}">
                        <input type="button" style="background: url({% static 'cardio.jpg' %});" class="tile_button"/>
                    </a>
                </div>

                <div id="event_tile">
                    <a href="{% url 'all_events' 3%}">
                        <input type="button" style="background: url({% static 'sports.jpg' %});" class="tile_button"/>
                    </a>
                </div>
            </div>

            <div id="second_row_category">

                <div id="event_tile">
                    <a href="{% url 'all_events' 4%}">
                        <input type="button" style="background: url({% static 'weights.jpg' %});" class="tile_button"/>
                    </a>
                </div>

                <div id="event_tile">
                    <a href="{% url 'all_events' 5%}">
                        <input type="button" style="background: url({% static 'yoga.jpg' %});" class="tile_button"/>
                    </a>
                </div>

                <div id="event_tile">
                    <a href="{% url 'all_events' 6%}">
                        <input type="button" style="background: url({% static 'other.jpg' %});" class="tile_button"/>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}